{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": "Last 2 versions"
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "retainLines": true
}