{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-alert": "off",
    "no-unused-vars": 0,
    "space-before-function-paren": 0,
    "object-curly-spacing": 0,
    "react/jsx-space-before-closing": 0,
    "arrow-body-style": 0,
    "react/jsx-indent": 0,
    "linebreak-style": 0,
    "react/no-multi-comp": "warn",
    "react/forbid-prop-types": "off",
    "react/no-typos": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-indent-props": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/require-extension": "off",
    "react/jsx-filename-extension": "off",
    "react/self-closing-comp": "off",
    "react/jsx-no-target-blank": "warn",
    "react/no-find-dom-node": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/no-array-index-key": "off",
    "import/default": "off",
    "import/no-duplicates": "off",
    "import/named": "off",
    "import/namespace": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "error",
    "import/imports-first": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "prefer-template": "warn",
    "global-require": "off",
    "no-case-declarations": "off",
    "no-underscore-dangle": "off",
    "react/jsx-tag-spacing": "off",
    "function-paren-newline": "off",
    "arrow-parens": [
      "error",
      "always"
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "then",
          "catch",
          "done"
        ]
      }
    ],
    "max-len": [
      "error",
      120
    ],
    // use ide formatting
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "new-cap": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ]
  },
  "plugins": [
    "react",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}